@page "/chatgptquestion/chatgptquestionentry"

@using ChatGPTEngine.Service.Interface

@inject IChatGPTCompletionService ChatGPTCompletionService;

<h1>Chat GPT Question Entry</h1>

<ErrorMessage ErrorMessageToDisplay="@ErrorMessage" />

<EditForm Model="@QuestionForChatGPT" OnValidSubmit="@AskChatGPTAQuestionAsync">
    <div class="label-question-for-chat-gpt">
        Enter a question for Chat GPT
    </div>

    <div>
        <textarea placeholder="Question for Chat GPT" rows="4" cols="50" @bind="@QuestionForChatGPT" />
    </div>

    <table>
        <tr>
            <td>
                <button class="btn" type="button" @onclick="AskChatGPTAQuestionAsync">Search</button>
            </td>
            <td>
                <button class="btn" type="button" @onclick="ClearQuestion">Clear</button>
            </td>
        </tr>
    </table>
</EditForm>

<div class="div-answer-from-chat-gpt">
    @if(buttonClicked)
    {
        @if(answerReceived)
        {
            <textarea rows="20" cols="50" @bind="@answerFromChatGPT" @bind:event="oninput" />
        }
        else if (isValidQuestion)
        {
            <p><em>Loading...</em></p>
        }
    }
</div>




